* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}
body {
  background-image: url(./images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  padding: 30px 50px;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  color: white;
  font-weight: 600;
  margin: 15px;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 400;
  margin: 15px;
}
.content-wrapper {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapper button {
  border: none;
  border-radius: 50px;
  width: 200px;
  padding: 15px;
  background-color: white;
  color: hsl(300, 69%, 71%);
  font-size: 20px;
  margin: 15px;
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
}
button:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
}
.image {
  width: 50%;
  /* border: 2px solid red; */
}
.image img {
  width: 100%;
  object-fit: cover;
}
.content {
  width: 50%;
  padding-left: 50px;
}
.social-icons {
  display: flex;
  justify-content: flex-end;
  justify-self: flex-end;
}
.social {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  cursor: pointer;
}
i {
  color: white;
  /* margin: 10px; */
  font-size: 20px;
}

.social:hover {
  border-color: hsl(300, 69%, 71%);
}
.social:hover i {
  color: hsl(300, 69%, 71%);
}

@media screen and (max-width: 768px) {
  body {
    height: unset;
    text-align: center;
    background-image: url(./images/bg-mobile.svg);
  }
  .logo {
    text-align: left;
  }
  .logo img {
    /* border: 2px solid red; */
    width: 50%;
  }
  .content-wrapper {
    flex-direction: column;
    /* width: 100%; */
    margin: 50px 0px;
  }
  h1 {
    /* margin: 0px; */
    font-size: 25px;
  }
  p {
    font-size: 16px;
  }
  .image {
    width: 100%;
  }
  .content {
    margin-top: 50px;
    width: 100%;
    padding-left: 0px;
  }
  .social-icons {
    justify-content: center;
  }
}
